doctype html
html
  head
    title #{titlePage}
    
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css")
  body
    include ../partials/header.pug
    main
     block main 
      include ../partials/footer.pug
    
  script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js")

  //- Thu vien emoji
  script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@latest/index.js")
  //- Thu vien emoji
  
  //- Thu vien upload anh
  script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
  //- Thu vien upload anh end
  
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")
  script(src="/js/script.js")
  script(type="module" src="/js/chat.js")