header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard") ADMIN
      .col-3
        a(href="/admin/auth/login") Đăng nhập
      .col-3
        a(href="/admin/auth/logout") Đăng xuất